In [2]:
import pandas as pd
import numpy as np
import sqlite3

In [3]:
boxscore_players = pd.read_csv(r"C:\Users\NOTEBOOK CASA\Desktop\Analytics\General\Bases\Esportes\NBA\nba_boxscore_players.csv")

In [4]:
boxscore_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1341616 entries, 0 to 1341615
Data columns (total 59 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Unnamed: 0               1341616 non-null  int64
 1   yearSeason               1341616 non-null  int64
 2   slugSeason               1341616 non-null  object
 3   slugLeague               1341616 non-null  object
 4   typeSeason               1341616 non-null  object
 5   dateGame                 1341616 non-null  object
 6   idGame                   1341616 non-null  int64
 7   numberGameTeamSeason     1341616 non-null  int64
 8   nameTeam                 1341616 non-null  object
 9   idTeam                   1341616 non-null  int64
 10  isB2B                    1341616 non-null  bool
 11  isB2BFirst               1341616 non-null  bool
 12  isB2BSecond              1341616 non-null  bool
 13  locationGame             1341616 non-null  object
 14  slugMatchup              1341616 non-null  object
 15  slugTeam                 1341616 non-null  object
 16  countDaysRestTeam        1341616 non-null  int64
 17  countDaysNextGameTeam    1329666 non-null  float64
 18  slugOpponent             1341616 non-null  object
 19  slugTeamWinner           1341616 non-null  object
 20  slugTeamLoser            1341616 non-null  object
 21  outcomeGame              1341589 non-null  object
 22  namePlayer               1341616 non-null  object
 23  numberGamePlayerSeason   1341616 non-null  int64
 24  countDaysRestPlayer      1341616 non-null  int64
 25  countDaysNextGamePlayer  1308849 non-null  float64
 26  idPlayer                 1341616 non-null  int64
 27  isWin                    1341616 non-null  bool
 28  fgm                      1341616 non-null  int64
 29  fga                      1254966 non-null  float64
 30  pctFG                    1195242 non-null  float64
 31  pctFT                    862380 non-null   float64
 32  hasVideo                 1341616 non-null  bool
 33  minutes                  1341616 non-null  int64
 34  ftm                      1341616 non-null  int64
 35  fta                      1338597 non-null  float64
 36  ast                      1236143 non-null  float64
 37  pf                       1302792 non-null  float64
 38  pts                      1341616 non-null  int64
 39  urlTeamSeasonLogo        1341616 non-null  object
 40  urlPlayerStats           1341553 non-null  object
 41  urlPlayerThumbnail       1341553 non-null  object
 42  urlPlayerHeadshot        1341553 non-null  object
 43  urlPlayerActionPhoto     1341553 non-null  object
 44  urlPlayerPhoto           1341553 non-null  object
 45  treb                     1249002 non-null  float64
 46  oreb                     1036501 non-null  float64
 47  dreb                     1036532 non-null  float64
 48  tov                      1016413 non-null  float64
 49  stl                      1056235 non-null  float64
 50  blk                      1071122 non-null  float64
 51  fpts                     997557 non-null   float64
 52  fg3m                     1019485 non-null  float64
 53  fg3a                     1010364 non-null  float64
 54  pctFG3                   1010364 non-null  float64
 55  fg2m                     1019485 non-null  float64
 56  fg2a                     1010267 non-null  float64
 57  pctFG2                   1010267 non-null  float64
 58  plusminus                646448 non-null   float64
dtypes: bool(5), float64(22), int64(13), object(19)
memory usage: 559.1+ MB

In [5]:
boxscore_players = boxscore_players.drop(columns = ['Unnamed: 0','slugLeague','numberGameTeamSeason','nameTeam','idTeam','isB2B', 'isB2BFirst','isB2BSecond','slugMatchup','countDaysRestTeam','countDaysNextGameTeam','slugTeamWinner',
'slugTeamLoser', 'countDaysRestPlayer', 'countDaysNextGamePlayer', 'isWin', 'pctFG', 'pctFT', 'hasVideo',
'urlTeamSeasonLogo', 'urlPlayerStats', 'urlPlayerThumbnail', 'urlPlayerHeadshot', 'urlPlayerActionPhoto', 'urlPlayerPhoto',
'fpts','pctFG3', 'pctFG2'])

In [6]:
boxscore_players = boxscore_players.reindex(columns = ['yearSeason', 'slugSeason', 'typeSeason', 'dateGame', 'idGame','idPlayer', 
'namePlayer', 'slugTeam', 'numberGamePlayerSeason','locationGame', 'slugOpponent', 'outcomeGame', 'minutes', 'pts', 'ast', 'treb',
'stl', 'blk', 'tov', 'pf', 'fgm', 'fga', 'ftm', 'fta', 'fg2m','fg2a', 'fg3m', 'fg3a', 'oreb', 'dreb', 'plusminus'])

In [7]:
#checando valores vazios
na_cols = [col for col in boxscore_players if (boxscore_players[col].isna().sum()>0)]
boxscore_players[na_cols].isna().mean().sort_values(ascending =False).mul(100)

plusminus      51.815721
fg2a           24.697753
fg3a           24.690522
tov            24.239648
fg2m           24.010671
fg3m           24.010671
oreb           22.742350
dreb           22.740039
stl            21.271437
blk            20.161805
ast             7.861639
treb            6.903168
fga             6.458629
pf              2.893824
fta             0.225027
outcomeGame     0.002012
dtype: float64

In [8]:
boxscore_players = boxscore_players.dropna(subset=['outcomeGame'])

In [10]:
conn = sqlite3.connect('NBAdata.db')

In [11]:
boxscore_players.to_sql(name='PlayersBoxscore', con = conn)

1341589

In [13]:
# lendo a base de dados
df_read = pd.read_sql('SELECT * FROM PlayersBoxscore', con=conn)

In [14]:
df_read

,index,yearSeason,slugSeason,typeSeason,dateGame,idGame,idPlayer,namePlayer,slugTeam,numberGamePlayerSeason,...,fga,ftm,fta,fg2m,fg2a,fg3m,fg3a,oreb,dreb,plusminus
0,0,1947,1946-47,Regular Season,1946-11-01,24600001,78019,Hank Rosenstein,NYK,1,...,NaN,1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1947,1946-47,Regular Season,1946-11-01,24600001,77600,Harry Miller,HUS,1,...,NaN,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1947,1946-47,Regular Season,1946-11-01,24600001,76762,Frank Fucarino,HUS,1,...,NaN,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1947,1946-47,Regular Season,1946-11-01,24600001,76836,Leo Gottlieb,NYK,1,...,NaN,2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1947,1946-47,Regular Season,1946-11-01,24600001,77598,Nat Militzok,NYK,1,...,NaN,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1341584,1341611,2021,2020-21,Playoffs,2021-07-20,42000406,1629028,Deandre Ayton,PHX,22,...,12.0,4,5.0,4.0,12.0,0.0,0.0,1.0,5.0,-7.0
1341585,1341612,2021,2020-21,Playoffs,2021-07-20,42000406,201572,Brook Lopez,MIL,23,...,10.0,0,0.0,5.0,7.0,0.0,3.0,2.0,6.0,9.0
1341586,1341613,2021,2020-21,Playoffs,2021-07-20,42000406,1629661,Cameron Johnson,PHX,21,...,5.0,0,0.0,0.0,1.0,1.0,4.0,0.0,3.0,0.0
1341587,1341614,2021,2020-21,Playoffs,2021-07-20,42000406,1626163,Frank Kaminsky,PHX,10,...,4.0,0,0.0,3.0,4.0,0.0,0.0,1.0,1.0,0.0
1341588,1341615,2021,2020-21,Playoffs,2021-07-20,42000406,203114,Khris Middleton,MIL,23,...,13.0,4,4.0,5.0,9.0,1.0,4.0,0.0,5.0,11.0

In [15]:
query = """
            SELECT "namePlayer", "slugTeam","slugOpponent","slugSeason","pts"
            FROM PlayersBoxscore;
"""

df_read = pd.read_sql(query, con=conn, index_col='namePlayer')
df_read

                slugTeam slugOpponent slugSeason  pts
namePlayer
Hank Rosenstein      NYK          HUS    1946-47    5
Harry Miller         HUS          NYK    1946-47    1
Frank Fucarino       HUS          NYK    1946-47    1
Leo Gottlieb         NYK          HUS    1946-47   14
Nat Militzok         NYK          HUS    1946-47    5
...                  ...          ...        ...  ...
Deandre Ayton        PHX          MIL    2020-21   12
Brook Lopez          MIL          PHX    2020-21   10
Cameron Johnson      PHX          MIL    2020-21    3
Frank Kaminsky       PHX          MIL    2020-21    6
Khris Middleton      MIL          PHX    2020-21   17

[1341589 rows x 4 columns]